<header class="mdl-layout__header">
  <div class="mdl-layout-icon"></div>
  <div class="mdl-layout__header-row wi-header">
    <a href="{{ path('app_homepage') }}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
      Wolfi Project  !
    </a>
    <div class="mdl-layout-spacer"></div>
    {% include 'UserBundle:Shared:_userConnectedOff.html.twig' %}
  </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <span class="mdl-layout-title">Simple Layout</span>
</div>
