<header class="mdl-layout__header">
  <div class="mdl-layout-icon"></div>
  <div class="mdl-layout__header-row wi-header">
    <span class="mdl-layout-title">Wolfi Project !</span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell mdl-cell--6-col">
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" href="{{ path("fos_user_registration_register") }}">
            Inscription
          </a>
        </div>
        <div class="mdl-cell mdl-cell mdl-cell--6-col">
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--grey-50" href="{{ path("fos_user_security_login") }}">
            Connexion
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <span class="mdl-layout-title">Simple Layout</span>
</div>
