<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--blue-grey-800 z-index999">
    <div class="mdl-layout__header-row">
        <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white f20 text-initial" href="{{ path('home_homepage') }}">
            <i class="material-icons">arrow_back</i>&nbsp;{{ 'back'|trans }}
        </a>
    </div>
</header>

