{% extends 'HomeBundle::layout.html.twig' %}
{% block home_page_title %}
    Ajouter une annonce
{% endblock %}
{% block home_body %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--8-col">
            <div id="menu-select-subcategory" class="mdl-color--blue-grey-100">
                <header class="header-select-subcategory ">
                    Choisir une catégorie
                </header>
                <div id="menu">
                    <div class="wrapper mdl-grid">
                        {% for category in categories %}
                            <div class="menu-link mdl-cell--3-col" id="{{ category.id }}">
                                <div class="content">
                                    <header>
                                        <div class="back arrow"></div>
                                        <div>
                                            {{ category.name }}
                                        </div>
                                        <div class="next arrow"></div>
                                        <div class="clear"></div>
                                    </header>
                                    <div class="icon-category">
                                        <i class="material-icons f28">directions_car</i>
                                    </div>
                                    <div id="progress-{{ category.id }}" class="mdl-progress mdl-js-progress mdl-progress__indeterminate width-100"></div>
                                    <div class="subcategories">

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block home_javascripts %}
    <script>
        $(function () {
            $('.menu-link').click(function (e) {
                var result;
                var id = e.currentTarget.id;
                if (!$('#'+ id +'.menu-link').hasClass('load')) {result = getSubcategories(id);}
                if (result) {$(this).addClass('load');}
            });
        });

        function getSubcategories(id) {
            $.ajax({
                type      : 'post',
                url       : Routing.generate('GetSubcategoriesById', {id: id}),
                //url: 'http://wolfi.local/app_dev.php/Home/GetSubcategories/' + id,
                beforeSend: function () {
                    $("#progress-" + id + ".mdl-progress").show();
                },
                error     : function (xhr, textStatus, error) {
                    $("#progress-" + id + ".mdl-progress").hide();
                    $("#" + id + " .subcategories").append(error);
                },
                success   : function (data) {
                    $.each(data.Subcategories, function (index, value) {
                        $("#" + id + " .subcategories").append('<div class="subcategory" id="subcategory-' + index + '">' + value + '</div>');
                    });
                    $("#progress-" + id + ".mdl-progress").hide();
                }
            });
            return true;
        }

        //Open category
        function openMenu(menu) {
            menu.classList.add('open');
            menu.removeEventListener('click', menu.listener, false);
            menu.removeEventListener('touchstart', menu.listener, false);
            var header = menu.querySelector('header');
            header.listener = closeMenu.bind(null, menu, header);
            header.addEventListener('click', header.listener, false);
            header.addEventListener('touchstart', header.listener, false);
            return header.listener;
        }
        function closeMenu(menu, header) {
            menu.classList.remove('open');
            header.removeEventListener('click', header.listener, false);
            header.removeEventListener('touchstart', header.listener, false);
            setTimeout(function () {
                addMenuListener(menu);
            }, 100);
        }
        function addMenuListener(node) {
            node.listener = openMenu.bind(null, node);
            node.addEventListener('click', node.listener, false);
            node.addEventListener('touchstart', node.listener, false);
        }
        var links = document.querySelectorAll('.menu-link');
        [].forEach.call(links, function (node) {
            addMenuListener(node);
        });
        //Open category
    </script>
{% endblock %}

