#adverts-home{
   .mdl-card{

      .mdl-card__title{
         padding:0;
         position:relative;
         min-height:150px;
      }
      .shadow-title{
         padding:16px;
         width:100%;
         min-height:150px;
         background:-moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 56%, rgba(255, 255, 255, 1) 91%, rgba(255, 255, 255, 1) 100%);
         background:-webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 56%, rgba(255, 255, 255, 1) 91%, rgba(255, 255, 255, 1) 100%);
         background:linear-gradient(135deg, rgba(255, 255, 255, 0) 56%, rgba(255, 255, 255, 1) 91%, rgba(255, 255, 255, 1) 100%);
         filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);

         h2{
            position:absolute;
            bottom:16px;
            right:16px;
         }

      }
      .mdl-card__supporting-text{
         min-height:130px;
         h4,h6{
            margin:0;
         }
      }
   }
}