// Config from specs https://www.google.com/design/spec/components/steppers.html#steppers-types-of-steppers
// Header
$size-header:72px;
$padding-group:24px 0px;
$size-chip:24px;

// Footer
$size-footer:48px;