.wi-div-center {
  margin: 0% auto;
}
.wi-width-100 {
  width: 100%;
}
.pull-right {
  float: right!important;
}
.pull-left {
  float: left!important;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.menu-right{
    box-sizing: border-box;
    position: absolute;
    right: 16px;
}
.f1{font-size: 1px;}
.f2{font-size: 2px;}
.f3{font-size: 3px;}
.f4{font-size: 4px;}
.f5{font-size: 5px;}
.f6{font-size: 6px;}
.f7{font-size: 7px;}
.f8{font-size: 8px;}
.f9{font-size: 9px;}
.f10{font-size: 10px;}
.f11{font-size: 11px;}
.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f15{font-size: 15px;}
.f16{font-size: 16px;}
.f17{font-size: 17px;}
.f18{font-size: 18px;}
.f19{font-size: 19px;}
.f20{font-size: 20px;}
