{% trans_default_domain 'FOSUserBundle' %}
<nav class="mdl-navigation mdl-layout--large-screen-only">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell mdl-cell--6-col">
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" href="{{ path("fos_user_registration_register") }}">
        {{ 'layout.register'|trans }}
      </a>
    </div>
    <div class="mdl-cell mdl-cell mdl-cell--6-col">
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--grey-50" href="{{ path("fos_user_security_login") }}">
          {{ 'layout.login'|trans }}
      </a>
    </div>
  </div>
</nav>
