{% trans_default_domain 'FOSUserBundle' %}

<div class="mdl-card__title">
  <i class="material-icons md-36">account_circle</i>&nbsp;
  <h2 class="mdl-card__title-text">
    Enregistrement
  </h2>
</div>
<div class="mdl-card__supporting-text">
  ici message bvn
  <form action="{{ path('fos_user_registration_register') }}" class="fos_user_registration_register" method="POST" {{ form_enctype(form) }}>
    <div id="fos_user_registration_form">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label wi-width-100">
        <input class="mdl-textfield__input" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" type="email">
        <label class="required mdl-textfield__label" for="fos_user_registration_form_email">Adresse e-mail</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label wi-width-100">
        <input class="mdl-textfield__input" id="fos_user_registration_form_username" maxlength="255" name="fos_user_registration_form[username]" pattern=".{2,}" required="required" type="text">
        <label class="required mdl-textfield__label" for="fos_user_registration_form_username">Nom d'utilisateur</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label wi-width-100">
        <input class="mdl-textfield__input" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" type="password">
        <label class="required mdl-textfield__label" for="fos_user_registration_form_plainPassword_first">Mot de passe</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label wi-width-100">
        <input class="mdl-textfield__input" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" type="password">
        <label class="required mdl-textfield__label" for="fos_user_registration_form_plainPassword_second">Vérification</label>
      </div>
      <input id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" type="hidden" value="NJFEMLG6bTLFeps311MC1jlqi55HlF0YwIhiYbAE5-0">
    </div>
    <div class="mdl-card__actions mdl-card--border text-right">
      <input class="mdl-button mdl-button--colored mdl-button--accent mdl-js-button mdl-js-ripple-effect" type="submit" value="{{ 'registration.submit'|trans }}"/>
    </div>
  </form>
</div>
