.div-center {
  margin: 0% auto; }

.width-100 {
  width: 100%; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.menu-right {
  box-sizing: border-box;
  position: absolute;
  right: 16px; }

.display-none {
  display: none; }

.f1 {
  font-size: 1px; }

.f2 {
  font-size: 2px; }

.f3 {
  font-size: 3px; }

.f4 {
  font-size: 4px; }

.f5 {
  font-size: 5px; }

.f6 {
  font-size: 6px; }

.f7 {
  font-size: 7px; }

.f8 {
  font-size: 8px; }

.f9 {
  font-size: 9px; }

.f10 {
  font-size: 10px; }

.f11 {
  font-size: 11px; }

.f12 {
  font-size: 12px; }

.f13 {
  font-size: 13px; }

.f14 {
  font-size: 14px; }

.f15 {
  font-size: 15px; }

.f16 {
  font-size: 16px; }

.f17 {
  font-size: 17px; }

.f18 {
  font-size: 18px; }

.f19 {
  font-size: 19px; }

.f20 {
  font-size: 20px; }

.f21 {
  font-size: 21px; }

.f22 {
  font-size: 22px; }

.f23 {
  font-size: 23px; }

.f24 {
  font-size: 24px; }

.f25 {
  font-size: 25px; }

.f26 {
  font-size: 26px; }

.f27 {
  font-size: 27px; }

.f28 {
  font-size: 28px; }

.f40 {
  font-size: 40px; }

html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif; }
  html .wi-drawer-header, body .wi-drawer-header {
    box-sizing: border-box;
    padding: 16px;
    height: 150px; }
  html a.mdl-layout-title, body a.mdl-layout-title {
    text-transform: capitalize;
    text-decoration: none; }
  html #add, body #add {
    position: absolute;
    right: 120px;
    top: 36px;
    z-index: 999; }
    @media screen and (max-width: 1024px) {
      html #add, body #add {
        top: 0;
        bottom: 80px;
        right: 50px;
        margin-bottom: 0px; } }
  html #wi-profil, body #wi-profil {
    position: relative;
    cursor: pointer; }
    @media screen and (max-width: 1024px) {
      html #wi-profil, body #wi-profil {
        margin: 30px; } }
    html #wi-profil #wi-profil-display, body #wi-profil #wi-profil-display {
      cursor: text;
      display: none;
      position: absolute;
      color: black;
      height: 150px;
      width: 300px;
      background: #ffffff;
      margin: 15px 0;
      right: 0;
      z-index: 1999; }
      html #wi-profil #wi-profil-display #wi-profil-triangle, body #wi-profil #wi-profil-display #wi-profil-triangle {
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        top: -15px;
        border-style: solid;
        border-width: 0 25px 25px 25px;
        border-color: transparent transparent #ffffff transparent;
        z-index: 9999; }
  html .wi-search, body .wi-search {
    padding: 0 155px; }
    @media screen and (max-width: 1024px) {
      html .wi-search, body .wi-search {
        padding: 0 15px; } }
    html .wi-search #wi-search-wrapper, body .wi-search #wi-search-wrapper {
      height: 36px;
      width: 100%;
      position: relative; }
      html .wi-search #wi-search-wrapper .material-icons, body .wi-search #wi-search-wrapper .material-icons {
        position: absolute;
        top: 6px;
        left: 25px; }
      html .wi-search #wi-search-wrapper #wi-search-input, body .wi-search #wi-search-wrapper #wi-search-input {
        width: 100%;
        height: 36px;
        background: 0;
        border: 0;
        color: #ffffff;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        margin: 0;
        padding: 8px 8px 8px 72px;
        transition: color .2s;
        background: rgba(55, 55, 255, 0.5);
        border-radius: 2px;
        box-sizing: border-box; }
        html .wi-search #wi-search-wrapper #wi-search-input::-webkit-input-placeholder, body .wi-search #wi-search-wrapper #wi-search-input::-webkit-input-placeholder {
          color: #ffffff; }
        html .wi-search #wi-search-wrapper #wi-search-input:-moz-placeholder, body .wi-search #wi-search-wrapper #wi-search-input:-moz-placeholder {
          /* Firefox 18- */
          color: #ffffff; }
        html .wi-search #wi-search-wrapper #wi-search-input::-moz-placeholder, body .wi-search #wi-search-wrapper #wi-search-input::-moz-placeholder {
          /* Firefox 19+ */
          color: #ffffff; }
        html .wi-search #wi-search-wrapper #wi-search-input:-ms-input-placeholder, body .wi-search #wi-search-wrapper #wi-search-input:-ms-input-placeholder {
          color: #ffffff; }
        html .wi-search #wi-search-wrapper #wi-search-input:hover, body .wi-search #wi-search-wrapper #wi-search-input:hover {
          background: rgba(255, 255, 255, 0.25); }
        html .wi-search #wi-search-wrapper #wi-search-input:focus + #wi-search-wrapper .material-icons, body .wi-search #wi-search-wrapper #wi-search-input:focus + #wi-search-wrapper .material-icons {
          color: red; }
        html .wi-search #wi-search-wrapper #wi-search-input::-webkit-input-placeholder, body .wi-search #wi-search-wrapper #wi-search-input::-webkit-input-placeholder {
          color: grey; }
        html .wi-search #wi-search-wrapper #wi-search-input:-moz-placeholder, body .wi-search #wi-search-wrapper #wi-search-input:-moz-placeholder {
          /* Firefox 18- */
          color: grey; }
        html .wi-search #wi-search-wrapper #wi-search-input::-moz-placeholder, body .wi-search #wi-search-wrapper #wi-search-input::-moz-placeholder {
          /* Firefox 19+ */
          color: grey; }
        html .wi-search #wi-search-wrapper #wi-search-input:-ms-input-placeholder, body .wi-search #wi-search-wrapper #wi-search-input:-ms-input-placeholder {
          color: grey; }
    html .wi-search #wi-autocomplete-wrapper, body .wi-search #wi-autocomplete-wrapper {
      position: relative;
      margin-top: 16px; }
      @media screen and (max-width: 1024px) {
        html .wi-search #wi-autocomplete-wrapper, body .wi-search #wi-autocomplete-wrapper {
          margin-top: 12px; } }
      html .wi-search #wi-autocomplete-wrapper #wi-autocomplete-content, body .wi-search #wi-autocomplete-wrapper #wi-autocomplete-content {
        box-sizing: border-box;
        display: none;
        height: 200px;
        background: #ffffff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
        max-height: calc(100vh - 56px);
        overflow-y: auto;
        position: absolute;
        transition: transform .2s, visibility .2s;
        transform: translateY(0);
        width: 100%;
        z-index: -1; }
  html .morph, body .morph {
    -webkit-transition: all 0.25s ease-in-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.25s ease-in-out;
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.6); }
    html .morph i.norm, body .morph i.norm {
      -webkit-transition: all 0.55s ease-in-out;
      /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
      transition: all 0.55s ease-in-out;
      /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
      transform: translate(-12px, -12px) rotate(-360deg);
      opacity: 1; }
    html .morph i.alt, body .morph i.alt {
      -webkit-transition: all 0.45s ease-in-out;
      /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
      transition: all 0.45s ease-in-out;
      /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
      transform: scale(0.5) translate(-22px, -22px) rotate(-360deg);
      opacity: 0; }
    html .morph:hover, body .morph:hover {
      box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.44); }
      html .morph:hover i.norm, body .morph:hover i.norm {
        opacity: 0;
        transform: translate(-12px, -12px) rotate(720deg); }
      html .morph:hover i.alt, body .morph:hover i.alt {
        opacity: 1;
        transform: scale(1) translate(-12px, -12px) rotate(0deg); }
    html .morph:active .ripple, body .morph:active .ripple {
      -webkit-animation: ripples 0.3s 1;
      -moz-animation: ripples 0.3s 1;
      -o-animation: ripples 0.3s 1;
      animation: ripples 0.3s 1; }

/*# sourceMappingURL=styles.css.map */
