@import 'Shared/helpers';
@import 'Shared/colors';
@import 'Shared/mixins';
@import 'Shared/header';
@import "Shared/steppers";
@import "Shared/ribbon";
@import "Shared/og-grid";
@import "Shared/advert";
@import "Shared/slick";
html, body{
   font-family:"Roboto", "Helvetica", "Arial", sans-serif;
}

html { height: 100%; }

*,
*:after,
*:before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}

.clearfix:after {
   clear: both;
}

.clearfix {
   *zoom: 1;
}
a {
   text-decoration: none;
}