{% extends "::layout/layout.html.twig" %}

{% block title %}{{ parent() }} - Home {% endblock %}

{% block body %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {% include "AdvertisementBundle:shared:_header.html.twig" %}
        <div class="wi-ribbon mdl-color--blue-grey-700">
        </div>

        <main class="mdl-layout__content wi-main-advert">
            <div class="page-content">
                {% block advert_body %}
                {% endblock %}
            </div>
        </main>
    </div>
{% endblock %}
{% block javascripts %}
    {% block advert_javascripts %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    {% block advert_scripts %}
    {% endblock %}
{% endblock %}