{% trans_default_domain 'FOSUserBundle' %}
<div class="mdl-card__title">
  <i class="material-icons md-36">settings_backup_restore</i>&nbsp;
  <h2 class="mdl-card__title-text">
    {{ 'resetting.reset.submit'|trans }}
  </h2>
</div>
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" class="fos_user_resetting_reset" method="POST" {{ form_enctype(form) }}>
  <div id="fos_user_resetting_form" class="mdl-card__supporting-text">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label wi-width-100">
      <input class="mdl-textfield__input" id="fos_user_resetting_form_plainPassword_first" name="fos_user_resetting_form[plainPassword][first]" required="required" type="password">
      <label class="required mdl-textfield__label" for="fos_user_resetting_form_plainPassword_first">Nouveau mot de passe</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label wi-width-100">
      <input class="mdl-textfield__input" id="fos_user_resetting_form_plainPassword_second" name="fos_user_resetting_form[plainPassword][second]" required="required" type="password">
      <label class="required mdl-textfield__label" for="fos_user_resetting_form_plainPassword_second">Vérification</label>
    </div>
      <input id="fos_user_resetting_form__token" name="fos_user_resetting_form[_token]" type="hidden" value="MsqTzr3RfYsxSk_bJ3qgyRKQ5LV6ANokRLYhjcNduAg">
  </div>
  <div class="mdl-card__actions mdl-card--border text-right">
    <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" type="submit" value="{{ 'resetting.reset.submit'|trans }}"/>
  </div>
</div>
</form>
