.wi-drawer-header {
  box-sizing: border-box;
  padding: 16px;
  height: 150px;
}
.wi-wrapper{
  position: relative;
  min-height: 100%;

}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.wi-header{
  min-height: 64px;
}
.wi-div-center{
  margin:0% auto;
  max-width:400px;
}
.wi-width-100{
  width: 100%;
}
.pull-right{
  float: right!important;
}
.text-right{
  text-align: right;
}
a.mdl-layout-title{
  text-transform: capitalize;
  text-decoration: none;
}
