{% extends 'AdvertisementBundle::layout.html.twig' %}

{% block advert_body -%}
    <div id="form-advertisement">
        <h1>Car creation</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block advert_scripts %}
    <script src="{{ asset('content/js/material-design/manager-crud-material.js') }}"></script>
{% endblock %}
